body {
  margin: 0;
  font-family: 'Almendra SC', serif;
  color: black;
}

a {
  color: black;
  text-decoration: none;
}

.section1 {
  /* background-color: #333; */
  padding: 20px;
}

header {
  width:100%;
  height: 5vh;
  justify-content: space-between;
  align-items: center;
}

.nav-head{
  float: right;
  padding: 5px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

.section2 {
  background-color: #F5F5F5;
  padding: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  background-image: url('bg.png');
}

.logo img {
  width: 10rem;
  height: 10rem;
}
.spl-logo{
  background-image: url(https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExNDc0YjQzODcwMTQ2Mzc2ZjMxOTRhOTkzMWU2M2UzZDAwZDA5MzBkMyZlcD12MV9pbnRlcm5hbF9naWZzX2dpZklkJmN0PWc/cAC7V11MDbl0ZXw2Eh/giphy-downsized.gif);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  /* text-transform: uppercase; */
}
.tagline {
  text-align: center;
  margin-top: 30px;
}

.section3 {
  padding: 50px;
  text-align: center;
  height: 100vh;
}

.table-container {
  overflow-x: auto;
  width: 100%;
}

table {
  margin: auto;
  border-collapse: collapse;
}

table th,
table td {
  border: 1px solid black;
  padding: 10vh;
}

table tr,
table td {
  width: 100%;
  padding: 10vh;
}

.section3 h2,
.section4 h2 ,
.section2 h1{
  font-size: 10vh;
}

.section4 {
  background-color: #F5F5F5;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.section4 div {
  width: 100%;
}

.left-box,
.right-box,
.down-box {
  margin: 20px;
  flex-basis: 50%;
  justify-content: center;
  text-align: center;
}

.left-box img,
.right-box img ,
.down-box img{
  max-width: 100%;
  justify-content: center;
  /* height: 8rem; */
}

.footer {
  background-color: #ffffff;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Media queries for smaller screens */
@media only screen and (max-width: 600px) {
  .logo img {
    width: 10rem;
    height: 10rem;
  }
  .tagline h1 {
    font-size: 13rem;
  }

  .tagline p {
    font-size: 10rem;
  }
  .spl-logo{
    font-size: 13rem;
  }
  .table-container {
    overflow-x: auto;
    width: 100%;
  }

  table th,
  table td {
    padding: 5vh;
  }

  table tr,
  table td {
    padding: 5vh;
  }

  .section3 h2,
  .section4 h2 ,
  .section2 h1{
    font-size: 6vh;
  }

  .left-box,
  .right-box,
  .down-box{
    margin: 20px;
    flex-basis: 100%;
    justify-content: center;
    text-align: center;
  }
}